<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>ThoughtLog Journal</title>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav>
    <div class="nav-title">ThoughtLog</div>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>

  <div id="app"></div>

  <script src="/assets/bundle.js"></script>
</body>
</html>
