<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>ThoughtLog Journal</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
  href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap"
  rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>

  <div id="app"></div>

<script>
  window.THOUGHTLOG_USERNAME = '{{username}}';
  window.THOUGHTLOG_IS_PREMIUM = {{#if isPremium}}true{{else}}false{{/if}};
</script>


  <script src="/assets/bundle.js"></script>
</body>
</html>
